<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trades Übersicht</title>
</head>
<body>
<!-- TODO Add bootstrap  -->

<h2>Neuen Trade anlegen</h2>
<form th:action="@{/api/trades/upload}" method="post">
    <label>Symbol: <input type="text" name="symbol" required></label><br>
    <label>Amount: <input type="number" step="0.01" name="amount" required></label><br>
    <label>Buy-In: <input type="number" step="0.01" name="buyIn" required></label><br>
    <label>Sell-Out: <input type="number" step="0.01" name="sellOut" required></label><br>
    <label>Zeitpunkt: <input type="datetime-local" name="tradeTime" required></label><br>
    <button type="submit">Speichern</button>
    <!-- TODO Add Excel as Inputfile -->
    <!-- TODO Add navigation Buttons  -->
</form>
</body>
</html>
